<a href="https://colab.research.google.com/github/meltemyilmaz024/PySpark-Examples/blob/main/Pyspark_Update_Mechanism.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=8fbadee0ff0b800d9b9dc71aec0a94b5fc4b97bb5b357a6e81ba74c52677b30c
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [28]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, substring, concat, lit

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

emp = [
    (1, "Smith", -1, "2018", "10", "M", 3000),
    (2, "Rose", 1, "2010", "20", "M", 4000),
    (3, "Williams", 1, "2010", "10", "M", 1000),
    (4, "Jones", 2, "2005", "10", "F", 2000),
    (5, "Brown", 2, "2010", "40", "", -1),
    (7, "Batman", 2, "2010", "", "", -1),
    (8, "Superman", 2, "2010", "60", "", -1),
    (9, "", 2, "2010", "60", "", -1),
    (6, "Brown", 2, "2010", "50", "", -1)
]
empColumns = ["emp_id","name","superior_emp_id","year_joined", \
       "emp_dept_id","gender","salary"]

empDF = spark.createDataFrame(data=emp, schema = empColumns)
empDF.printSchema()
empDF.show(truncate=False)


dept = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("Big Data",90), \
    ("IT",40) \
  ]
deptColumns = ["name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema = deptColumns)
deptDF.printSchema()
deptDF.show(truncate=False)

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |
|2     |Rose    |1              |2010       |20         |M     |4000  |
|3     |Williams|1              |2010       |10         |M     |1000  |
|4     |Jones   |2              |2005       |10         |F     |2000  |
|5     |Brown   |2              |2010       |40         |      |-1    |
|7     |Batman  |2              |2010       |           |      |-1    |
|8     |Superman|2              |2010       |60         |      |-1    |
|9     |        |2              |2010       |60         |      |-1    |
|6     |Brown   |2              |2010       |50         |      |-1    |
+------+--------+---------------+-----------+-----------+------+------+

root
 |-- name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|name     |dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|Big Data |90     |
|IT       |40     |
+---------+-------+

In [ ]:
# LEFT OUTER JOIN
empDF.join(deptDF, empDF.emp_dept_id ==  deptDF.dept_id) \
   .show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|name     |dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [ ]:
# LEFT OUTER JOIN
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"inner") \
   .show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|name     |dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [ ]:
# LEFT OUTER JOIN
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"leftouter") \
   .show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|name     |dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|6     |Brown   |2              |2010       |50         |      |-1    |NULL     |NULL   |
|7     |Batman  |2              |2010       |           |      |-1    |NULL     |NULL   |
|8     |Superman|2              |2010       |60         |      |-1    |NULL     |NULL   |
|9     |        |2              |2010       |60         |      |-1    |NULL     |NULL   |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [ ]:
# Create DataFrames and alias them
empDF = spark.createDataFrame(data=emp, schema=empColumns).alias("emp")
deptDF = spark.createDataFrame(data=dept, schema=deptColumns).alias("dept")

# Rename Column During Joining
resultDF2 = empDF.join(deptDF, col("emp.emp_dept_id") == col("dept.dept_id"), "left_outer") \
    .select(empDF["*"], deptDF['name'].alias("department_name"))

resultDF2.show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|department_name|
+------+--------+---------------+-----------+-----------+------+------+---------------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance        |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance        |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance        |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing      |
|6     |Brown   |2              |2010       |50         |      |-1    |NULL           |
|7     |Batman  |2              |2010       |           |      |-1    |NULL           |
|8     |Superman|2              |2010       |60         |      |-1    |NULL           |
|9     |        |2              |2010       |60         |      |-1    |NULL           |
|5     |Brown   |2              |2010       |40         |      |-1    |IT             |
+------+--------+---------------+-----------+-----------+------+------+---------------+

In [ ]:
# Create DataFrames and alias them
#empDF = spark.createDataFrame(data=emp, schema=empColumns).alias("emp")
#deptDF = spark.createDataFrame(data=dept, schema=deptColumns).alias("dept")


# LEFT OUTER JOIN --- Her iki tabloda yer alan kayıtları güncellemek için kullanılabilir.
# Eğer bir çalışanın departmanı varsa onun maaşını 50.000 olarak güncelle. Yanına deparman bilgilerini de ekle.*
resultDF = empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "left_outer") \
    .withColumn("salary", when(col("dept_id").isNotNull(), 50000).otherwise(col("salary"))) \
    .drop("dept_id")  # Drop the redundant column if needed

resultDF.show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|name     |
+------+--------+---------------+-----------+-----------+------+------+---------+
|1     |Smith   |-1             |2018       |10         |M     |50000 |Finance  |
|3     |Williams|1              |2010       |10         |M     |50000 |Finance  |
|4     |Jones   |2              |2005       |10         |F     |50000 |Finance  |
|2     |Rose    |1              |2010       |20         |M     |50000 |Marketing|
|6     |Brown   |2              |2010       |50         |      |-1    |NULL     |
|7     |Batman  |2              |2010       |           |      |-1    |NULL     |
|8     |Superman|2              |2010       |60         |      |-1    |NULL     |
|9     |        |2              |2010       |60         |      |-1    |NULL     |
|5     |Brown   |2              |2010       |40         |      |50000 |IT       |
+------+--------+---------------+-----------+-----------+------+------+---------+

In [ ]:
# LEFT OUTER JOIN --- Her iki tabloda yer alan kayıtları güncellemek için kullanılabilir.
# Eğer bir çalışanın departmanı varsa onun maaşını 50.000 olarak güncelle. Yanına deparman bilgilerini de ekle.*
resultDF = empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "left_outer") \
    .withColumn("salary", when(col("dept_id").isNotNull(), 50000).otherwise(col("salary")))

resultDF.printSchema()

resultDF.show(truncate=False)

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|name     |dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |50000 |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |50000 |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |50000 |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |50000 |Marketing|20     |
|6     |Brown   |2              |2010       |50         |      |-1    |NULL     |NULL   |
|7     |Batman  |2              |2010       |           |      |-1    |NULL     |NULL   |
|8     |Superman|2              |2010       |60         |      |-1    |NULL     |NULL   |
|9     |        |2              |2010       |60         |      |-1    |NULL     |NULL   |
|5     |Brown   |2              |2010       |40         |      |50000 |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [ ]:
# LEFT OUTER JOIN --- Her iki tabloda yer alan kayıtları güncellemek için kullanılabilir.
# Eğer bir çalışanın departmanı varsa onun maaşını 50.000 olarak güncelle. Yanına dAeparman bilgilerini de ekle.*
resultDF = empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "left_outer") \
    .select(empDF["*"],deptDF['name'].alias("department_name"),deptDF['dept_id']) \
    .withColumn("salary", when(col("dept_id").isNotNull(), 50000).otherwise(col("salary")))

resultDF.show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|department_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------------+-------+
|1     |Smith   |-1             |2018       |10         |M     |50000 |Finance        |10     |
|3     |Williams|1              |2010       |10         |M     |50000 |Finance        |10     |
|4     |Jones   |2              |2005       |10         |F     |50000 |Finance        |10     |
|2     |Rose    |1              |2010       |20         |M     |50000 |Marketing      |20     |
|6     |Brown   |2              |2010       |50         |      |-1    |NULL           |NULL   |
|7     |Batman  |2              |2010       |           |      |-1    |NULL           |NULL   |
|8     |Superman|2              |2010       |60         |      |-1    |NULL           |NULL   |
|9     |        |2              |2010       |60         |      |-1    |NULL           |NULL   |
|5     |Brown   |2              |2010       |40         |      |50000 |IT             |40     |
+------+--------+---------------+-----------+-----------+------+------+---------------+-------+

In [ ]:
# Update the "name" column to "NewName" when the condition is met
resultDF = resultDF.withColumn("name", when(col("name") == "Superman", "Captain America").otherwise(col("name")))
resultDF.show(truncate=False)

+------+---------------+---------------+-----------+-----------+------+------+---------------+-------+
|emp_id|name           |superior_emp_id|year_joined|emp_dept_id|gender|salary|department_name|dept_id|
+------+---------------+---------------+-----------+-----------+------+------+---------------+-------+
|1     |Smith          |-1             |2018       |10         |M     |50000 |Finance        |10     |
|3     |Williams       |1              |2010       |10         |M     |50000 |Finance        |10     |
|4     |Jones          |2              |2005       |10         |F     |50000 |Finance        |10     |
|2     |Rose           |1              |2010       |20         |M     |50000 |Marketing      |20     |
|6     |Brown          |2              |2010       |50         |      |-1    |NULL           |NULL   |
|7     |Batman         |2              |2010       |           |      |-1    |NULL           |NULL   |
|8     |Captain America|2              |2010       |60         |      |-1    |NULL           |NULL   |
|9     |               |2              |2010       |60         |      |-1    |NULL           |NULL   |
|5     |Brown          |2              |2010       |40         |      |50000 |IT             |40     |
+------+---------------+---------------+-----------+-----------+------+------+---------------+-------+

## Column Renaming

In [ ]:
# Column Renaming

lst=[]
df_cols= resultDF.columns

for i in df_cols:
    if df_cols.count(i)==2:
        ind=df_cols.index(i)
        lst.append(ind)

lst1=list(set(lst))
for i in lst1:
    df_cols[i]=df_cols[i]+'_0'

## Columns: name_0, name
resultDF= resultDF.toDF(*df_cols)
resultDF.show()

+------+--------+---------------+-----------+-----------+------+------+--------+
|emp_id|  name_0|superior_emp_id|year_joined|emp_dept_id|gender|salary|    name|
+------+--------+---------------+-----------+-----------+------+------+--------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|   Smith|
|     3|Williams|              1|       2010|         10|     M|  1000|Williams|
|     4|   Jones|              2|       2005|         10|     F|  2000|   Jones|
|     2|    Rose|              1|       2010|         20|     M|  4000|    Rose|
|     6|   Brown|              2|       2010|         50|      |     1|   Brown|
|     7|  Batman|              2|       2010|           |      |     1|  Batman|
|     8| NewName|              2|       2010|         60|      |     1| NewName|
|     9|        |              2|       2010|         60|      |     1|        |
|     5|   Brown|              2|       2010|         40|      |    -1|   Brown|
+------+--------+---------------+-----------+-----------+------+------+--------+

## lit Function


The **lit** function in PySpark is short for "**literal**." Its primary purpose is to create a column expression for a literal value. In other words, it's used to represent a constant value or a literal in a PySpark DataFrame.

In [ ]:
emp_term = [
    (1, "Smith", -1, "2018", "10", "M", 3000, "202301202312"),
    (2, "Rose", 1, "2010", "20", "M", 4000, "202206202206"),
    (3, "Williams", 1, "2010", "10", "M", 1000, "202209202209"),
    (4, "Jones", 2, "2005", "10", "F", 2000, "202211202211"),
    (5, "Brown", 2, "2010", "40", "", -1, "202208202208"),
    (7, "Batman", 2, "2010", "", "", -1, "202210202210"),
    (8, "Superman", 2, "2010", "60", "", -1, ""),
    (9, "", 2, "2010", "60", "", -1, "202206202206"),
    (6, "Brown", 2, "2010", "50", "", -1, "202205202205")
]
emptColumns = ["emp_id","name","superior_emp_id","year_joined", "emp_dept_id","gender","salary", "term"]

emptDF = spark.createDataFrame(data=emp_term, schema = emptColumns)
#emptDF.printSchema()
emptDF.show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+------------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|term        |
+------+--------+---------------+-----------+-----------+------+------+------------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |202301202312|
|2     |Rose    |1              |2010       |20         |M     |4000  |202206202206|
|3     |Williams|1              |2010       |10         |M     |1000  |202209202209|
|4     |Jones   |2              |2005       |10         |F     |2000  |202211202211|
|5     |Brown   |2              |2010       |40         |      |-1    |202208202208|
|7     |Batman  |2              |2010       |           |      |-1    |202210202210|
|8     |Superman|2              |2010       |60         |      |-1    |            |
|9     |        |2              |2010       |60         |      |-1    |202206202206|
|6     |Brown   |2              |2010       |50         |      |-1    |202205202205|
+------+--------+---------------+-----------+-----------+------+------+------------+

In [ ]:
dept = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("Big Data",90), \
    ("IT",40) \
  ]
deptColumns = ["name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema = deptColumns)
#deptDF.printSchema()
deptDF.show(truncate=False)

+---------+-------+
|name     |dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|Big Data |90     |
|IT       |40     |
+---------+-------+

In [ ]:
# Create new column from "term" field
df = emptDF.withColumn("BASYIL",substring('term',1,4))\
            .withColumn("BASAY",substring('term',5,2))\
            .withColumn("BITYIL",substring('term',7,4))\
            .withColumn("BITAY",substring('term',11,2))
df.printSchema()
df.show(truncate=False)

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- term: string (nullable = true)
 |-- BASYIL: string (nullable = true)
 |-- BASAY: string (nullable = true)
 |-- BITYIL: string (nullable = true)
 |-- BITAY: string (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+------------+------+-----+------+-----+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|term        |BASYIL|BASAY|BITYIL|BITAY|
+------+--------+---------------+-----------+-----------+------+------+------------+------+-----+------+-----+
|1     |Smith   |-1             |2018       |10         |M     |3000  |202301202312|2023  |01   |2023  |12   |
|2     |Rose    |1              |2010       |20         |M     |4000  |202206202206|2022  |06   |2022  |06   |
|3     |Williams|1              |2010       |10         |M     |1000  |202209202209|2022  |09   |2022  |09   |
|4     |Jones   |2              |2005       |10         |F     |2000  |202211202211|2022  |11   |2022  |11   |
|5     |Brown   |2              |2010       |40         |      |-1    |202208202208|2022  |08   |2022  |08   |
|7     |Batman  |2              |2010       |           |      |-1    |202210202210|2022  |10   |2022  |10   |
|8     |Superman|2              |2010       |60         |      |-1    |            |      |     |      |     |
|9     |        |2              |2010       |60         |      |-1    |202206202206|2022  |06   |2022  |06   |
|6     |Brown   |2              |2010       |50         |      |-1    |202205202205|2022  |05   |2022  |05   |
+------+--------+---------------+-----------+-----------+------+------+------------+------+-----+------+-----+

In [60]:
emp_term = [
    (1, "Smith", -1, "2018", "10", "M", 3000, "201611201710","2017(08)","2014"),
    (10, "Robin Hood", 2, "2010", "60", "", 128000, "201611201710","2017(08)","2016"),
    (11, "Hulk", 2, "2010", "60", "", 80000, "201611201710","2017(08)","2017"),
    (12, "Spider Man", 2, "2019", "40", "", -1, "201701201712","2015(01-12) 2016(01-12)","2014"),
    (13, "Doctor Strange", 2, "2015", "40", "", -1, "201701201712","2015(01-12) 2016(01-12)","2016"),
    (14, "Thor", 2, "2012", "40", "", -1, "201701201712","2015(01-12) 2016(01-12)","2017"),
    (2, "Rose", 1, "2010", "20", "M", 4000, "201701201712","2015(01-12) 2016(01-12)","2017"),
    (3, "Williams", 1, "2010", "10", "M", 1000, "201701201712","2015(01-12)","2017"),
    (4, "Jones", 2, "2005", "10", "F", 2000, "202211202211","","2022"),
    (5, "Brown", 2, "2010", "40", "", -1, "201701201712","2015(01-12) 2016(01-12)","2014"),
    (7, "Batman", 2, "2010", "", "", -1, "202210202210","","2015"),
    (8, "Superman", 2, "2010", "60", "", -1, "201701201712","2015(01-12)","2017"),
    (9, "", 2, "2010", "60", "", -1, "201611201710","2017(08)","2016"),
    (6, "Brown", 2, "2010", "50", "", -1, "201701201712","2016(01-12)","2018")
]
emptColumns = ["emp_id","name","superior_emp_id","year_joined", "emp_dept_id","gender","salary", "term", "control_term", "maxyil"]

emptDF = spark.createDataFrame(data=emp_term, schema = emptColumns)
#emptDF.printSchema()
emptDF.show(truncate=False)

+------+--------------+---------------+-----------+-----------+------+------+------------+-----------------------+------+
|emp_id|name          |superior_emp_id|year_joined|emp_dept_id|gender|salary|term        |control_term           |maxyil|
+------+--------------+---------------+-----------+-----------+------+------+------------+-----------------------+------+
|1     |Smith         |-1             |2018       |10         |M     |3000  |201611201710|2017(08)               |2014  |
|10    |Robin Hood    |2              |2010       |60         |      |128000|201611201710|2017(08)               |2016  |
|11    |Hulk          |2              |2010       |60         |      |80000 |201611201710|2017(08)               |2017  |
|12    |Spider Man    |2              |2019       |40         |      |-1    |201701201712|2015(01-12) 2016(01-12)|2014  |
|13    |Doctor Strange|2              |2015       |40         |      |-1    |201701201712|2015(01-12) 2016(01-12)|2016  |
|14    |Thor          |2              |2012       |40         |      |-1    |201701201712|2015(01-12) 2016(01-12)|2017  |
|2     |Rose          |1              |2010       |20         |M     |4000  |201701201712|2015(01-12) 2016(01-12)|2017  |
|3     |Williams      |1              |2010       |10         |M     |1000  |201701201712|2015(01-12)            |2017  |
|4     |Jones         |2              |2005       |10         |F     |2000  |202211202211|                       |2022  |
|5     |Brown         |2              |2010       |40         |      |-1    |201701201712|2015(01-12) 2016(01-12)|2014  |
|7     |Batman        |2              |2010       |           |      |-1    |202210202210|                       |2015  |
|8     |Superman      |2              |2010       |60         |      |-1    |201701201712|2015(01-12)            |2017  |
|9     |              |2              |2010       |60         |      |-1    |201611201710|2017(08)               |2016  |
|6     |Brown         |2              |2010       |50         |      |-1    |201701201712|2016(01-12)            |2018  |
+------+--------------+---------------+-----------+-----------+------+------+------------+-----------------------+------+

In [61]:
# Create new column from "term" field
df2 = emptDF.withColumn("basyil",substring('term',1,4))\
            .withColumn("basay",substring('term',5,2))\
            .withColumn("bityil",substring('term',7,4))\
            .withColumn("bitay",substring('term',11,2))
#df2.printSchema()
df2.show(truncate=False)

+------+--------------+---------------+-----------+-----------+------+------+------------+-----------------------+------+------+-----+------+-----+
|emp_id|name          |superior_emp_id|year_joined|emp_dept_id|gender|salary|term        |control_term           |maxyil|basyil|basay|bityil|bitay|
+------+--------------+---------------+-----------+-----------+------+------+------------+-----------------------+------+------+-----+------+-----+
|1     |Smith         |-1             |2018       |10         |M     |3000  |201611201710|2017(08)               |2014  |2016  |11   |2017  |10   |
|10    |Robin Hood    |2              |2010       |60         |      |128000|201611201710|2017(08)               |2016  |2016  |11   |2017  |10   |
|11    |Hulk          |2              |2010       |60         |      |80000 |201611201710|2017(08)               |2017  |2016  |11   |2017  |10   |
|12    |Spider Man    |2              |2019       |40         |      |-1    |201701201712|2015(01-12) 2016(01-12)|2014  |2017  |01   |2017  |12   |
|13    |Doctor Strange|2              |2015       |40         |      |-1    |201701201712|2015(01-12) 2016(01-12)|2016  |2017  |01   |2017  |12   |
|14    |Thor          |2              |2012       |40         |      |-1    |201701201712|2015(01-12) 2016(01-12)|2017  |2017  |01   |2017  |12   |
|2     |Rose          |1              |2010       |20         |M     |4000  |201701201712|2015(01-12) 2016(01-12)|2017  |2017  |01   |2017  |12   |
|3     |Williams      |1              |2010       |10         |M     |1000  |201701201712|2015(01-12)            |2017  |2017  |01   |2017  |12   |
|4     |Jones         |2              |2005       |10         |F     |2000  |202211202211|                       |2022  |2022  |11   |2022  |11   |
|5     |Brown         |2              |2010       |40         |      |-1    |201701201712|2015(01-12) 2016(01-12)|2014  |2017  |01   |2017  |12   |
|7     |Batman        |2              |2010       |           |      |-1    |202210202210|                       |2015  |2022  |10   |2022  |10   |
|8     |Superman      |2              |2010       |60         |      |-1    |201701201712|2015(01-12)            |2017  |2017  |01   |2017  |12   |
|9     |              |2              |2010       |60         |      |-1    |201611201710|2017(08)               |2016  |2016  |11   |2017  |10   |
|6     |Brown         |2              |2010       |50         |      |-1    |201701201712|2016(01-12)            |2018  |2017  |01   |2017  |12   |
+------+--------------+---------------+-----------+-----------+------+------+------------+-----------------------+------+------+-----+------+-----+

In [ ]:
'''
control_term=
  control_term +
      CASE WHEN MAXYIL<>BASYIL THEN ') '+BASYIL+'(' ELSE ',' END +
        CASE WHEN BASYIL=BITYIL
          THEN CASE WHEN BASAY=BITAY
                    THEN BASAY
                    ELSE BASAY+'-'+BITAY END
          ELSE BASYIL+BASAY+'-'+BITYIL+BITAY END
'''

In [62]:
# INSERT INTO

# control_term=control_term+CASE WHEN MAXYIL<>BASYIL THEN ') '+BASYIL+'(' ELSE ',' END+CASE WHEN BASYIL=BITYIL THEN CASE WHEN BASAY=BITAY THEN BASAY ELSE BASAY+'-'+BITAY END ELSE BASYIL+BASAY+'-'+BITYIL+BITAY END
df3 = df2.withColumn(
    'control_term_new',
    concat(
        col("control_term"),
        # CASE WHEN MAXYIL<>BASYIL THEN ') '+BASYIL+'(' ELSE ',' END +
        when(
            col("maxyil") != col("basyil"),
            concat(lit(') '), col("basyil"), lit('('))
        ).otherwise(lit(',')),
        # CASE WHEN BASYIL=BITYIL
        #      THEN CASE WHEN BASAY=BITAY THEN BASAY ELSE BASAY+'-'+BITAY END
        when(
            (col("basyil") == col("bityil")) & (col("basay") == col("bitay")),
            col("basay")
        ).otherwise(concat(col("basyil"), col("basay"), lit('-'), col("bityil"), col("bitay")))
    )
)
#df3.printSchema()
df3.show(truncate=False)

+------+--------------+---------------+-----------+-----------+------+------+------------+-----------------------+------+------+-----+------+-----+-------------------------------------------+
|emp_id|name          |superior_emp_id|year_joined|emp_dept_id|gender|salary|term        |control_term           |maxyil|basyil|basay|bityil|bitay|control_term_new                           |
+------+--------------+---------------+-----------+-----------+------+------+------------+-----------------------+------+------+-----+------+-----+-------------------------------------------+
|1     |Smith         |-1             |2018       |10         |M     |3000  |201611201710|2017(08)               |2014  |2016  |11   |2017  |10   |2017(08)) 2016(201611-201710               |
|10    |Robin Hood    |2              |2010       |60         |      |128000|201611201710|2017(08)               |2016  |2016  |11   |2017  |10   |2017(08),201611-201710                     |
|11    |Hulk          |2              |2010       |60         |      |80000 |201611201710|2017(08)               |2017  |2016  |11   |2017  |10   |2017(08)) 2016(201611-201710               |
|12    |Spider Man    |2              |2019       |40         |      |-1    |201701201712|2015(01-12) 2016(01-12)|2014  |2017  |01   |2017  |12   |2015(01-12) 2016(01-12)) 2017(201701-201712|
|13    |Doctor Strange|2              |2015       |40         |      |-1    |201701201712|2015(01-12) 2016(01-12)|2016  |2017  |01   |2017  |12   |2015(01-12) 2016(01-12)) 2017(201701-201712|
|14    |Thor          |2              |2012       |40         |      |-1    |201701201712|2015(01-12) 2016(01-12)|2017  |2017  |01   |2017  |12   |2015(01-12) 2016(01-12),201701-201712      |
|2     |Rose          |1              |2010       |20         |M     |4000  |201701201712|2015(01-12) 2016(01-12)|2017  |2017  |01   |2017  |12   |2015(01-12) 2016(01-12),201701-201712      |
|3     |Williams      |1              |2010       |10         |M     |1000  |201701201712|2015(01-12)            |2017  |2017  |01   |2017  |12   |2015(01-12),201701-201712                  |
|4     |Jones         |2              |2005       |10         |F     |2000  |202211202211|                       |2022  |2022  |11   |2022  |11   |,11                                        |
|5     |Brown         |2              |2010       |40         |      |-1    |201701201712|2015(01-12) 2016(01-12)|2014  |2017  |01   |2017  |12   |2015(01-12) 2016(01-12)) 2017(201701-201712|
|7     |Batman        |2              |2010       |           |      |-1    |202210202210|                       |2015  |2022  |10   |2022  |10   |) 2022(10                                  |
|8     |Superman      |2              |2010       |60         |      |-1    |201701201712|2015(01-12)            |2017  |2017  |01   |2017  |12   |2015(01-12),201701-201712                  |
|9     |              |2              |2010       |60         |      |-1    |201611201710|2017(08)               |2016  |2016  |11   |2017  |10   |2017(08),201611-201710                     |
|6     |Brown         |2              |2010       |50         |      |-1    |201701201712|2016(01-12)            |2018  |2017  |01   |2017  |12   |2016(01-12)) 2017(201701-201712            |
+------+--------------+---------------+-----------+-----------+------+------+------------+-----------------------+------+------+-----+------+-----+-------------------------------------------+

In [63]:
# INSERT INTO

# control_term=control_term+CASE WHEN MAXYIL<>BASYIL THEN ') '+BASYIL+'(' ELSE ',' END+CASE WHEN BASYIL=BITYIL THEN CASE WHEN BASAY=BITAY THEN BASAY ELSE BASAY+'-'+BITAY END ELSE BASYIL+BASAY+'-'+BITYIL+BITAY END
df4 = df2.withColumn(
    'control_term_new',
    concat(
        col("control_term"),
        when(
            col("maxyil") != col("basyil"),
            concat(lit(') '), col("basyil"), lit('('))
        ).otherwise(lit(',')),
        when(
            (col("basyil") == col("bityil")) & (col("basay") == col("bitay")),
            col("basay")
        ).otherwise(concat(col("basyil"), col("basay"), lit('-'), col("bityil"), col("bitay")))
    )
)
#df4.printSchema()
df4.show(truncate=False)

+------+--------------+---------------+-----------+-----------+------+------+------------+-----------------------+------+------+-----+------+-----+-------------------------------------------+
|emp_id|name          |superior_emp_id|year_joined|emp_dept_id|gender|salary|term        |control_term           |maxyil|basyil|basay|bityil|bitay|control_term_new                           |
+------+--------------+---------------+-----------+-----------+------+------+------------+-----------------------+------+------+-----+------+-----+-------------------------------------------+
|1     |Smith         |-1             |2018       |10         |M     |3000  |201611201710|2017(08)               |2014  |2016  |11   |2017  |10   |2017(08)) 2016(201611-201710               |
|10    |Robin Hood    |2              |2010       |60         |      |128000|201611201710|2017(08)               |2016  |2016  |11   |2017  |10   |2017(08),201611-201710                     |
|11    |Hulk          |2              |2010       |60         |      |80000 |201611201710|2017(08)               |2017  |2016  |11   |2017  |10   |2017(08)) 2016(201611-201710               |
|12    |Spider Man    |2              |2019       |40         |      |-1    |201701201712|2015(01-12) 2016(01-12)|2014  |2017  |01   |2017  |12   |2015(01-12) 2016(01-12)) 2017(201701-201712|
|13    |Doctor Strange|2              |2015       |40         |      |-1    |201701201712|2015(01-12) 2016(01-12)|2016  |2017  |01   |2017  |12   |2015(01-12) 2016(01-12)) 2017(201701-201712|
|14    |Thor          |2              |2012       |40         |      |-1    |201701201712|2015(01-12) 2016(01-12)|2017  |2017  |01   |2017  |12   |2015(01-12) 2016(01-12),201701-201712      |
|2     |Rose          |1              |2010       |20         |M     |4000  |201701201712|2015(01-12) 2016(01-12)|2017  |2017  |01   |2017  |12   |2015(01-12) 2016(01-12),201701-201712      |
|3     |Williams      |1              |2010       |10         |M     |1000  |201701201712|2015(01-12)            |2017  |2017  |01   |2017  |12   |2015(01-12),201701-201712                  |
|4     |Jones         |2              |2005       |10         |F     |2000  |202211202211|                       |2022  |2022  |11   |2022  |11   |,11                                        |
|5     |Brown         |2              |2010       |40         |      |-1    |201701201712|2015(01-12) 2016(01-12)|2014  |2017  |01   |2017  |12   |2015(01-12) 2016(01-12)) 2017(201701-201712|
|7     |Batman        |2              |2010       |           |      |-1    |202210202210|                       |2015  |2022  |10   |2022  |10   |) 2022(10                                  |
|8     |Superman      |2              |2010       |60         |      |-1    |201701201712|2015(01-12)            |2017  |2017  |01   |2017  |12   |2015(01-12),201701-201712                  |
|9     |              |2              |2010       |60         |      |-1    |201611201710|2017(08)               |2016  |2016  |11   |2017  |10   |2017(08),201611-201710                     |
|6     |Brown         |2              |2010       |50         |      |-1    |201701201712|2016(01-12)            |2018  |2017  |01   |2017  |12   |2016(01-12)) 2017(201701-201712            |
+------+--------------+---------------+-----------+-----------+------+------+------------+-----------------------+------+------+-----+------+-----+-------------------------------------------+

In [65]:
# INSERT INTO

# control_term=control_term+CASE WHEN MAXYIL<>BASYIL THEN ') '+BASYIL+'(' ELSE ',' END+CASE WHEN BASYIL=BITYIL THEN CASE WHEN BASAY=BITAY THEN BASAY ELSE BASAY+'-'+BITAY END ELSE BASYIL+BASAY+'-'+BITYIL+BITAY END
df5 = df2.withColumn(
    'control_term_new',
    concat(
        col("control_term"),
        when(
            col("maxyil") != col("basyil"),
            concat(lit(') '), col("basyil"), lit('('))
        ).otherwise(lit(',')),
        when(
            col("basyil") == col("bityil"),
            when(
                col("basay") == col("bitay"),
                col("basay")
            ).otherwise(concat(col("basay"), lit('-'), col("bitay")))
        ).otherwise(concat(col("basyil"), col("basay"), lit('-'), col("bityil"), col("bitay")))
    )
)
#df3.printSchema()
df5.show(truncate=False)

+------+--------------+---------------+-----------+-----------+------+------+------------+-----------------------+------+------+-----+------+-----+-----------------------------------+
|emp_id|name          |superior_emp_id|year_joined|emp_dept_id|gender|salary|term        |control_term           |maxyil|basyil|basay|bityil|bitay|control_term_new                   |
+------+--------------+---------------+-----------+-----------+------+------+------------+-----------------------+------+------+-----+------+-----+-----------------------------------+
|1     |Smith         |-1             |2018       |10         |M     |3000  |201611201710|2017(08)               |2014  |2016  |11   |2017  |10   |2017(08)) 2016(201611-201710       |
|10    |Robin Hood    |2              |2010       |60         |      |128000|201611201710|2017(08)               |2016  |2016  |11   |2017  |10   |2017(08),201611-201710             |
|11    |Hulk          |2              |2010       |60         |      |80000 |201611201710|2017(08)               |2017  |2016  |11   |2017  |10   |2017(08)) 2016(201611-201710       |
|12    |Spider Man    |2              |2019       |40         |      |-1    |201701201712|2015(01-12) 2016(01-12)|2014  |2017  |01   |2017  |12   |2015(01-12) 2016(01-12)) 2017(01-12|
|13    |Doctor Strange|2              |2015       |40         |      |-1    |201701201712|2015(01-12) 2016(01-12)|2016  |2017  |01   |2017  |12   |2015(01-12) 2016(01-12)) 2017(01-12|
|14    |Thor          |2              |2012       |40         |      |-1    |201701201712|2015(01-12) 2016(01-12)|2017  |2017  |01   |2017  |12   |2015(01-12) 2016(01-12),01-12      |
|2     |Rose          |1              |2010       |20         |M     |4000  |201701201712|2015(01-12) 2016(01-12)|2017  |2017  |01   |2017  |12   |2015(01-12) 2016(01-12),01-12      |
|3     |Williams      |1              |2010       |10         |M     |1000  |201701201712|2015(01-12)            |2017  |2017  |01   |2017  |12   |2015(01-12),01-12                  |
|4     |Jones         |2              |2005       |10         |F     |2000  |202211202211|                       |2022  |2022  |11   |2022  |11   |,11                                |
|5     |Brown         |2              |2010       |40         |      |-1    |201701201712|2015(01-12) 2016(01-12)|2014  |2017  |01   |2017  |12   |2015(01-12) 2016(01-12)) 2017(01-12|
|7     |Batman        |2              |2010       |           |      |-1    |202210202210|                       |2015  |2022  |10   |2022  |10   |) 2022(10                          |
|8     |Superman      |2              |2010       |60         |      |-1    |201701201712|2015(01-12)            |2017  |2017  |01   |2017  |12   |2015(01-12),01-12                  |
|9     |              |2              |2010       |60         |      |-1    |201611201710|2017(08)               |2016  |2016  |11   |2017  |10   |2017(08),201611-201710             |
|6     |Brown         |2              |2010       |50         |      |-1    |201701201712|2016(01-12)            |2018  |2017  |01   |2017  |12   |2016(01-12)) 2017(01-12            |
+------+--------------+---------------+-----------+-----------+------+------+------------+-----------------------+------+------+-----+------+-----+-----------------------------------+

In [68]:
df5 = df2.withColumn( 'control_term_new', concat(lit('('), col("basyil"), lit(')'))).show()

+------+--------------+---------------+-----------+-----------+------+------+------------+--------------------+------+------+-----+------+-----+----------------+
|emp_id|          name|superior_emp_id|year_joined|emp_dept_id|gender|salary|        term|        control_term|maxyil|basyil|basay|bityil|bitay|control_term_new|
+------+--------------+---------------+-----------+-----------+------+------+------------+--------------------+------+------+-----+------+-----+----------------+
|     1|         Smith|             -1|       2018|         10|     M|  3000|201611201710|            2017(08)|  2014|  2016|   11|  2017|   10|          (2016)|
|    10|    Robin Hood|              2|       2010|         60|      |128000|201611201710|            2017(08)|  2016|  2016|   11|  2017|   10|          (2016)|
|    11|          Hulk|              2|       2010|         60|      | 80000|201611201710|            2017(08)|  2017|  2016|   11|  2017|   10|          (2016)|
|    12|    Spider Man|              2|       2019|         40|      |    -1|201701201712|2015(01-12) 2016(...|  2014|  2017|   01|  2017|   12|          (2017)|
|    13|Doctor Strange|              2|       2015|         40|      |    -1|201701201712|2015(01-12) 2016(...|  2016|  2017|   01|  2017|   12|          (2017)|
|    14|          Thor|              2|       2012|         40|      |    -1|201701201712|2015(01-12) 2016(...|  2017|  2017|   01|  2017|   12|          (2017)|
|     2|          Rose|              1|       2010|         20|     M|  4000|201701201712|2015(01-12) 2016(...|  2017|  2017|   01|  2017|   12|          (2017)|
|     3|      Williams|              1|       2010|         10|     M|  1000|201701201712|         2015(01-12)|  2017|  2017|   01|  2017|   12|          (2017)|
|     4|         Jones|              2|       2005|         10|     F|  2000|202211202211|                    |  2022|  2022|   11|  2022|   11|          (2022)|
|     5|         Brown|              2|       2010|         40|      |    -1|201701201712|2015(01-12) 2016(...|  2014|  2017|   01|  2017|   12|          (2017)|
|     7|        Batman|              2|       2010|           |      |    -1|202210202210|                    |  2015|  2022|   10|  2022|   10|          (2022)|
|     8|      Superman|              2|       2010|         60|      |    -1|201701201712|         2015(01-12)|  2017|  2017|   01|  2017|   12|          (2017)|
|     9|              |              2|       2010|         60|      |    -1|201611201710|            2017(08)|  2016|  2016|   11|  2017|   10|          (2016)|
|     6|         Brown|              2|       2010|         50|      |    -1|201701201712|         2016(01-12)|  2018|  2017|   01|  2017|   12|          (2017)|
+------+--------------+---------------+-----------+-----------+------+------+------------+--------------------+------+------+-----+------+-----+----------------+