<a href="https://colab.research.google.com/github/meltemyilmaz024/PySpark-Examples/blob/main/Pyspark_Update_Mechanism.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=2b5c4e7a97b23ff40b6687bfabb3e2b675ee5d2a23bd648df5756bd1b13249e8
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when
from pyspark.sql.functions import expr

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

emp = [
    (1, "Smith", -1, "2018", "10", "M", 3000),
    (2, "Rose", 1, "2010", "20", "M", 4000),
    (3, "Williams", 1, "2010", "10", "M", 1000),
    (4, "Jones", 2, "2005", "10", "F", 2000),
    (5, "Brown", 2, "2010", "40", "", -1),
    (7, "Batman", 2, "2010", "", "", -1),
    (8, "Superman", 2, "2010", "60", "", -1),
    (9, "", 2, "2010", "60", "", -1),
    (6, "Brown", 2, "2010", "50", "", -1)
]
empColumns = ["emp_id","name","superior_emp_id","year_joined", \
       "emp_dept_id","gender","salary"]

empDF = spark.createDataFrame(data=emp, schema = empColumns)
empDF.printSchema()
empDF.show(truncate=False)


dept = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("Big Data",90), \
    ("IT",40) \
  ]
deptColumns = ["name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema = deptColumns)
deptDF.printSchema()
deptDF.show(truncate=False)

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |
|2     |Rose    |1              |2010       |20         |M     |4000  |
|3     |Williams|1              |2010       |10         |M     |1000  |
|4     |Jones   |2              |2005       |10         |F     |2000  |
|5     |Brown   |2              |2010       |40         |      |-1    |
|7     |Batman  |2              |2010       |           |      |-1    |
|8     |Superman|2              |2010       |60         |      |-1    |
|9     |        |2              |2010       |60         |      |-1    |
|6     |Brown   |2              |2010       |50         |      |-1    |
+------+--------+---------------+-----------+-----------+------+------+

root
 |-- name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|name     |dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|Big Data |90     |
|IT       |40     |
+---------+-------+

In [ ]:
# LEFT OUTER JOIN
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id) \
   .show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|name     |dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [ ]:
# INNER JOIN - I
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"inner") \
   .show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|name     |dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [ ]:
# INNER JOIN - II
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id) \
   .show(truncate=False)

In [ ]:
# LEFT OUTER JOIN
empDF.join(deptDF,empDF.emp_dept_id ==  deptDF.dept_id,"leftouter") \
   .show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|name     |dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance  |10     |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance  |10     |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance  |10     |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing|20     |
|6     |Brown   |2              |2010       |50         |      |-1    |NULL     |NULL   |
|7     |Batman  |2              |2010       |           |      |-1    |NULL     |NULL   |
|8     |Superman|2              |2010       |60         |      |-1    |NULL     |NULL   |
|9     |        |2              |2010       |60         |      |-1    |NULL     |NULL   |
|5     |Brown   |2              |2010       |40         |      |-1    |IT       |40     |
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

In [ ]:
# Create DataFrames and alias them
empDF = spark.createDataFrame(data=emp, schema=empColumns).alias("emp")
deptDF = spark.createDataFrame(data=dept, schema=deptColumns).alias("dept")

# Rename Column During Joining
resultDF2 = empDF.join(deptDF, col("emp.emp_dept_id") == col("dept.dept_id"), "left_outer") \
    .select(empDF["*"], deptDF['name'].alias("department_name"))

resultDF2.show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|department_name|
+------+--------+---------------+-----------+-----------+------+------+---------------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |Finance        |
|3     |Williams|1              |2010       |10         |M     |1000  |Finance        |
|4     |Jones   |2              |2005       |10         |F     |2000  |Finance        |
|2     |Rose    |1              |2010       |20         |M     |4000  |Marketing      |
|6     |Brown   |2              |2010       |50         |      |-1    |NULL           |
|7     |Batman  |2              |2010       |           |      |-1    |NULL           |
|8     |Superman|2              |2010       |60         |      |-1    |NULL           |
|9     |        |2              |2010       |60         |      |-1    |NULL           |
|5     |Brown   |2              |2010       |40         |      |-1    |IT             |
+------+--------+---------------+-----------+-----------+------+------+---------------+

In [ ]:
# Create DataFrames and alias them
#empDF = spark.createDataFrame(data=emp, schema=empColumns).alias("emp")
#deptDF = spark.createDataFrame(data=dept, schema=deptColumns).alias("dept")


# LEFT OUTER JOIN --- Her iki tabloda yer alan kayıtları güncellemek için kullanılabilir.
# Eğer bir çalışanın departmanı varsa onun maaşını 50.000 olarak güncelle. Yanına deparman bilgilerini de ekle.*
resultDF = empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "left_outer") \
    .withColumn("salary", when(col("dept_id").isNotNull(), 50000).otherwise(col("salary"))) \
    .drop("dept_id")  # Drop the redundant column if needed

resultDF.show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|name     |
+------+--------+---------------+-----------+-----------+------+------+---------+
|1     |Smith   |-1             |2018       |10         |M     |50000 |Finance  |
|3     |Williams|1              |2010       |10         |M     |50000 |Finance  |
|4     |Jones   |2              |2005       |10         |F     |50000 |Finance  |
|2     |Rose    |1              |2010       |20         |M     |50000 |Marketing|
|6     |Brown   |2              |2010       |50         |      |-1    |NULL     |
|7     |Batman  |2              |2010       |           |      |-1    |NULL     |
|8     |Superman|2              |2010       |60         |      |-1    |NULL     |
|9     |        |2              |2010       |60         |      |-1    |NULL     |
|5     |Brown   |2              |2010       |40         |      |50000 |IT       |
+------+--------+---------------+-----------+-----------+------+------+---------+

In [ ]:
# LEFT OUTER JOIN --- Her iki tabloda yer alan kayıtları güncellemek için kullanılabilir.
# Eğer bir çalışanın departmanı varsa onun maaşını 50.000 olarak güncelle. Yanına deparman bilgilerini de ekle.*
resultDF = empDF.join(deptDF, empDF.emp_dept_id == deptDF.dept_id, "left_outer") \
    .select(empDF["*"],deptDF['name'].alias("department_name"),deptDF['dept_id']) \
    .withColumn("salary", when(col("dept_id").isNotNull(), 50000).otherwise(col("salary")))

resultDF.show(truncate=False)

+------+--------+---------------+-----------+-----------+------+------+---------------+-------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|department_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------------+-------+
|1     |Smith   |-1             |2018       |10         |M     |50000 |Finance        |10     |
|3     |Williams|1              |2010       |10         |M     |50000 |Finance        |10     |
|4     |Jones   |2              |2005       |10         |F     |50000 |Finance        |10     |
|2     |Rose    |1              |2010       |20         |M     |50000 |Marketing      |20     |
|6     |Brown   |2              |2010       |50         |      |-1    |NULL           |NULL   |
|7     |Batman  |2              |2010       |           |      |-1    |NULL           |NULL   |
|8     |Superman|2              |2010       |60         |      |-1    |NULL           |NULL   |
|9     |        |2              |2010       |60         |      |-1    |NULL           |NULL   |
|5     |Brown   |2              |2010       |40         |      |50000 |IT             |40     |
+------+--------+---------------+-----------+-----------+------+------+---------------+-------+

In [ ]:
# Update the "name" column to "NewName" when the condition is met
resultDF = resultDF.withColumn("name", when(col("name") == "Superman", "Captain America").otherwise(col("name")))
resultDF.show(truncate=False)

+------+---------------+---------------+-----------+-----------+------+------+---------------+-------+
|emp_id|name           |superior_emp_id|year_joined|emp_dept_id|gender|salary|department_name|dept_id|
+------+---------------+---------------+-----------+-----------+------+------+---------------+-------+
|1     |Smith          |-1             |2018       |10         |M     |50000 |Finance        |10     |
|3     |Williams       |1              |2010       |10         |M     |50000 |Finance        |10     |
|4     |Jones          |2              |2005       |10         |F     |50000 |Finance        |10     |
|2     |Rose           |1              |2010       |20         |M     |50000 |Marketing      |20     |
|6     |Brown          |2              |2010       |50         |      |-1    |NULL           |NULL   |
|7     |Batman         |2              |2010       |           |      |-1    |NULL           |NULL   |
|8     |Captain America|2              |2010       |60         |      |-1    |NULL           |NULL   |
|9     |               |2              |2010       |60         |      |-1    |NULL           |NULL   |
|5     |Brown          |2              |2010       |40         |      |50000 |IT             |40     |
+------+---------------+---------------+-----------+-----------+------+------+---------------+-------+

In [ ]:
# Column Renaming

lst=[]
df_cols= resultDF.columns

for i in df_cols:
    if df_cols.count(i)==2:
        ind=df_cols.index(i)
        lst.append(ind)

lst1=list(set(lst))
for i in lst1:
    df_cols[i]=df_cols[i]+'_0'

## Columns: name_0, name
resultDF= resultDF.toDF(*df_cols)
resultDF.show()

+------+--------+---------------+-----------+-----------+------+------+--------+
|emp_id|  name_0|superior_emp_id|year_joined|emp_dept_id|gender|salary|    name|
+------+--------+---------------+-----------+-----------+------+------+--------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|   Smith|
|     3|Williams|              1|       2010|         10|     M|  1000|Williams|
|     4|   Jones|              2|       2005|         10|     F|  2000|   Jones|
|     2|    Rose|              1|       2010|         20|     M|  4000|    Rose|
|     6|   Brown|              2|       2010|         50|      |     1|   Brown|
|     7|  Batman|              2|       2010|           |      |     1|  Batman|
|     8| NewName|              2|       2010|         60|      |     1| NewName|
|     9|        |              2|       2010|         60|      |     1|        |
|     5|   Brown|              2|       2010|         40|      |    -1|   Brown|
+------+--------+---------------+-----------+-----------+------+------+--------+

In [ ]:
new_dataframe = empDF.filter(col("superior_emp_id") == 2) \
.select(
    col("emp_id").alias("employee_id"),
    col("name").alias("employee_name"),
    col("superior_emp_id").alias("superior_employee_id"),
    expr("'ODM'").alias("employee_type"),
    col("year_joined").alias("start_time"),
    expr("").alias("finish_time")
)

new_dataframe.show()

+-----------+-------------+--------------------+-------------+----------+-----------+
|employee_id|employee_name|superior_employee_id|employee_type|start_time|finish_time|
+-----------+-------------+--------------------+-------------+----------+-----------+
|          4|        Jones|                   2|          ODM|      2005|       NULL|
|          5|        Brown|                   2|          ODM|      2010|       NULL|
|          7|       Batman|                   2|          ODM|      2010|       NULL|
|          8|     Superman|                   2|          ODM|      2010|       NULL|
|          9|             |                   2|          ODM|      2010|       NULL|
|          6|        Brown|                   2|          ODM|      2010|       NULL|
+-----------+-------------+--------------------+-------------+----------+-----------+